/* == COMPONENTS == */
.header { position: fixed; top: 0; left: 0; width: 100%; padding: .8rem 0; background: #efefef; z-index: 90;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
-ms-transform: translate(0px,-150px);
-webkit-transform: translate(0px,-150px);
transform: translate(0px,-150px); }
.header.active,
.header.header-page {
-ms-transform: translate(0px,0px);
-webkit-transform: translate(0px,0px);
transform: translate(0px,0px); } 
.wrap-header { width: 985px; margin: 0 auto; }
.wrap-search { padding: 1.5rem .5rem 1.5rem 1rem; }
.wrap-intro { width: 40%; margin: 0 auto; padding: 4.75rem 0 1rem 0; }
.wrap-post { background: #F8F8F8; }
.wrap-single-post { padding-top: 6rem; }
.post-list,
.comment-list { width: 40%; margin: 0 auto; padding: 2.5rem 0; }
.post-list { padding: 2.5rem 0 5rem 0; }
.wrap-info { margin-top: .8rem; }
.wrap-comment { background: #F8F8F8; }
.wrap-result { margin-top: 5rem; background: #fff; }

/* == ELEMENTS == */
.search-input { width: 450px; margin: 0 auto; padding: .57rem; border: 1px solid #ccc; font-size: .9rem;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px; }
.search-input:focus { outline: 0; }
.search-submit { margin-left: -84px; padding: .56rem 1.5rem; background: #F62600; outline: 0; border: 0; border-top: 0px solid #F62600; border-bottom: 0px solid #F62600; color: #fff; font-weight: bold;
-webkit-border-radius: 0 3px 3px 0;
-moz-border-radius: 0 3px 3px 0;
-ms-border-radius: 0 3px 3px 0;
-o-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0; }
.search-submit:hover,
.search-submit:active { background: #DD2503; }
.wrap-intro .search-input { padding: .8rem; }
.wrap-intro .search-submit { margin-left: -100px; padding: .74rem 2rem; border-bottom: 1px solid #F62600; }
.nav { padding-top: 2rem; }
.nav li { display: inline-block; }
.nav a { padding: 0 .5rem; color: #666; text-decoration: none; font-size: .9rem; }
.nav li:last-child a { color: #F62600; }
.nav a:hover,
.nav a:active { color: #222; text-decoration: underline; }
.intro-title { margin-bottom: 3.125rem; text-align: center; }
.intro-desp { margin-bottom: 2rem; text-align: center; font-size: 1rem; font-weight: normal; color: #4A4A4A; }
.intro-tip,.intro-search { text-align: center; }
.intro-tip { margin: 2rem 0  7rem 0; text-align: center; color: #9B9B9B; font-size: .9rem; }
.intro-nav ul { text-align: center; }
.post,
.comments li { position: relative; margin-bottom: 1.3rem; padding: 1rem; border: 1px solid #ccc; background: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px; }
.children li.comment { margin-bottom: 0; border: 0!important; border-bottom: 1px dashed #ddd!important; }
.children li.comment:last-child { border: 0!important; }
.post:before,
.comments li:before { content: ''; position: absolute; top: -1px; left: 0; width: 100%; height: 4px; background: #39A3D9;
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
-ms-border-radius: 3px 3px 0 0;
-o-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0 ;}
.children li.comment:before { height: 0!important; }
.post-time { text-align: right; color: #555; font-size: .8rem; }
.post-content { word-wrap:break-word; word-break:normal; }
.post-content p { line-height: 2rem; }
.wrap-info li { display: inline-block; color: #00749A; }
.wrap-info li:first-child:after { content: ' | '; font-size: .8rem; }
.fb-group-meta.wrap-info li:first-child:after { content: ''; }
.btn-blue,
.btn-link,
.btn-fb-share { padding: 0 .2rem; color: #00749A; font-size: .85rem; text-decoration: none;}
.btn-blue:hover,
.btn-blue:active,
.btn-link:hover,
.btn-link:active,
.btn-fb-share:hover, 
.btn-fb-share:active { text-decoration: underline; }
.btn-link { margin-right: 1rem; padding-right: 1rem; background: url(../img/img-link.svg) 100% 50% no-repeat; color: #F62600; }
.btn-fb-share { padding-right: 1rem; background: url(../img/img-fb-share.svg) 100% 50% no-repeat; }
.wrap-info li:first-child .btn-blue { padding-left: 0; }
.post-author { font-size: .8rem; color: #555; }
.single-post p { line-height: 2rem; }
.single-post p.post-time + p::first-letter { font-size: 45px; }
.comments h2 { font-size: 1.17em; }
img.avatar { float: left; margin-right: .5rem; width: 48px; height: 48px; 
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
-ms-border-radius: 300px;
-o-border-radius: 300px;
border-radius: 300px; }
.comment-author a { text-decoration: none; }
.fn { font-size: .9rem; }
.fn a { color: #00749A; font-size: .9rem; }
.fn a:hover,
.fn a:active { text-decoration: underline; }
.comment-meta a { color: #555; font-size: .8rem; }
.reply a { display: block; padding: .5rem; border: 1px solid #EFEFEF; font-size: .8rem; text-decoration: none; color: #666; }
.children { margin: 1.3rem -1rem 0 -1rem; border-top: 1px solid #ccc; }
.comment-notes,
.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment label,
.logged-in-as { display: none; }
#comment { width: 100%; padding: .5rem; border: 1px solid #ccc; } 
#reply-title { display: block; }
#reply-title,
#reply-title small { font-size: .9rem; font-weight: normal; }
#reply-title small { float: right; color: #00749A; }
#reply-title a { text-decoration: none; color: #00749A; }
#reply-title a:hover,
#reply-title a:active { text-decoration: underline; }
#submit { padding: .5rem 1rem; color: #fff; background: #F62600; border: 0; outline: 0; font-size: .9rem; font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px; }
#submit:hover,
#submit:active { background: #DD2503; }
/* == VARIANTS == */

/* == HELPER == */
.h-mt10 { margin-top: .625rem!important; }
.h-mb10 { margin-bottom: .625rem!important; }
.h-mt20 { margin-top: 1.25rem!important; }
.h-mt40 { margin-top: 2.5rem!important; }
.h-mb40 { margin-bottom: 2.5rem!important; }
.h-ml20 { margin-left: 1.25rem!important; }
.h-mr40 { margin-right: 2.5rem!important; }
.h-in-block { display: inline-block; }
.h-fl { float: left; }
.h-fr { float: right; }
.h-pf { position: fixed; width: 96%; }
.hidden { display: none !important; }
.h-mobileonly { display: none; }
.h-ani {
-webkit-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease; }
.clearfix:before,
.clearfix:after { content: ""; display: table;}
.clearfix:after { clear: both; }

/* == MEDIA QUERY == */
@media only screen and ( max-width: 26em ) {
	.wrap-intro { width: 90%; padding-top: .8rem; }
	.intro-title { margin-bottom: 0; }
	.wrap-intro .search-input { width: 100%; padding: .8rem 0; text-align: center; }
	.wrap-intro .search-submit { width: 100%; margin-left: 0; margin-top: .5rem;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	-ms-border-radius: 3;
	-o-border-radius: 3;
	border-radius: 3; }
	.header { display: none; }
	.header.h-mobileonly { display: block; }
	.intro-tip { margin: 2rem 0; }
	.post-list,
	.comment-list { width: 90%; }
	.post-list { padding-top: 1rem; }
	.nav-open { float: left; background: none; border: 0; }
	.wrap-search-mobile { float: left; padding: 0; }
	.wrap-search-mobile .search-input { width: 160px; float: left; }
	.wrap-search-mobile .search-submit { margin-left: 0; }
	.wrap-mobile-nav { x-display: none; position: fixed; width: 100%; height: 100vh; padding: 2rem 0; background: #F8F8F8; z-index: 999; }
	.wrap-mobile-nav li { text-align: center; }
	.wrap-mobile-nav a { display: block; width: 194px; margin: 0 auto; }
}

/* == PLUGINGS == */