/* == COMPONENTS == */
.header { position: fixed; top: 0; left: 0; width: 100%; padding: .8rem 0; background: #efefef; z-index: 90;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
-ms-transform: translate(0px,-150px);
-webkit-transform: translate(0px,-150px);
transform: translate(0px,-150px); }
.header.active,
.header.header-page {
-ms-transform: translate(0px,0px);
-webkit-transform: translate(0px,0px);
transform: translate(0px,0px); } 
.wrap-header { width: 985px; margin: 0 auto; }
.wrap-search { padding: 1.5rem .5rem 1.5rem 1rem; }
.wrap-intro { width: 40%; margin: 0 auto; padding: 4.75rem 0 1rem 0; }
.wrap-post { background: #F8F8F8; }
.wrap-single-post { padding-top: 6rem; }
.post-list,
.comment-list { width: 40%; margin: 0 auto; padding: 2.5rem 0; }
.post-list { padding: 2.5rem 0 5rem 0; }
.wrap-info { margin-top: .8rem; }
.wrap-comment { background: #F8F8F8; }
.wrap-result { margin-top: 5rem; background: #fff; }

/* == ELEMENTS == */
.search-input { width: 450px; margin: 0 auto; padding: .57rem; border: 1px solid #ccc; font-size: .9rem;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px; }
.search-input:focus { outline: 0; }
.search-submit { margin-left: -84px; padding: .56rem 1.5rem; background: #F62600; outline: 0; border: 0; border-top: 0px solid #F62600; border-bottom: 0px solid #F62600; color: #fff; font-weight: bold;
-webkit-border-radius: 0 3px 3px 0;
-moz-border-radius: 0 3px 3px 0;
-ms-border-radius: 0 3px 3px 0;
-o-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0; }
.search-submit:hover,
.search-submit:active { background: #DD2503; }
.wrap-intro .search-input { padding: .8rem; }
.wrap-intro .search-submit { margin-left: -100px; padding: .74rem 2rem; border-bottom: 1px solid #F62600; }
.nav { padding-top: 2rem; }
.nav li { display: inline-block; }
.nav a { padding: 0 .5rem; color: #666; text-decoration: none; font-size: .9rem; }
.nav li:last-child a { color: #F62600; }
.nav a:hover,
.nav a:active { color: #222; text-decoration: underline; }
.intro-title { margin-bottom: 3.125rem; text-align: center; }
.intro-desp { margin-bottom: 2rem; text-align: center; font-size: 1rem; font-weight: normal; color: #4A4A4A; }
.intro-tip,.intro-search { text-align: center; }
.intro-tip { margin: 2rem 0  7rem 0; text-align: center; color: #9B9B9B; font-size: .9rem; }
.intro-nav ul { text-align: center; }
.post,
.comments li { position: relative; margin-bottom: 1.3rem; padding: 1rem; border: 1px solid #ccc; background: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px; }
.children li.comment { margin-bottom: 0; border: 0!important; border-bottom: 1px dashed #ddd!important; }
.children li.comment:last-child { border: 0!important; }
.post:before,
.comments li:before { content: ''; position: absolute; top: -1px; left: 0; width: 100%; height: 4px; background: #39A3D9;
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
-ms-border-radius: 3px 3px 0 0;
-o-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0 ;}
.children li.comment:before { height: 0!important; }
.post-time { text-align: right; color: #555; font-size: .8rem; }
.post-content { word-wrap:break-word; word-break:normal; }
.post-content p { line-height: 2rem; }
.wrap-info li { display: inline-block; color: #00749A; }
.wrap-info li:first-child:after { content: ' | '; font-size: .8rem; }
.fb-group-meta.wrap-info li:first-child:after { content: ''; }
.btn-blue,
.btn-link,
.btn-fb-share { padding: 0 .2rem; color: #00749A; font-size: .85rem; text-decoration: none;}
.btn-blue:hover,
.btn-blue:active,
.btn-link:hover,
.btn-link:active,
.btn-fb-share:hover, 
.btn-fb-share:active { text-decoration: underline; }
.btn-link { margin-right: 1rem; padding-right: 1rem; background: url(../img/img-link.svg) 100% 50% no-repeat; color: #F62600; }
.btn-fb-share { padding-right: 1rem; background: url(../img/img-fb-share.svg) 100% 50% no-repeat; }
.wrap-info li:first-child .btn-blue { padding-left: 0; }
.post-author { margin-top: .2rem; font-size: .8rem; color: #555; }
.single-post p { line-height: 2rem; }
.single-post p.post-time + p::first-letter { font-size: 45px; }
.post-content a img,.single-post a img {
-webkit-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease; }
.post-content a img:hover,.single-post a img:hover { 
-webkit-filter: brightness(1.2);
-o-filter: brightness(1.2);
filter: brightness(1.2);}
.comments h2 { font-size: 1.17em; }
img.avatar { float: left; margin-right: .5rem; width: 48px; height: 48px; 
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
-ms-border-radius: 300px;
-o-border-radius: 300px;
border-radius: 300px; }
.comment-author a { text-decoration: none; }
.fn { font-size: .9rem; }
.fn a { color: #00749A; font-size: .9rem; }
.fn a:hover,
.fn a:active { text-decoration: underline; }
.comment-meta a { color: #555; font-size: .8rem; }
.reply a { display: block; padding: .5rem; border: 1px solid #EFEFEF; font-size: .8rem; text-decoration: none; color: #666; }
.children { margin: 1.3rem -1rem 0 -1rem; border-top: 1px solid #ccc; }
.comment-notes,
.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment label,
.logged-in-as { display: none; }
#comment { width: 100%; padding: .5rem; border: 1px solid #ccc; } 
#reply-title { display: block; }
#reply-title,
#reply-title small { font-size: .9rem; font-weight: normal; }
#reply-title small { float: right; color: #00749A; }
#reply-title a { text-decoration: none; color: #00749A; }
#reply-title a:hover,
#reply-title a:active { text-decoration: underline; }
#submit { padding: .5rem 1rem; color: #fff; background: #F62600; border: 0; outline: 0; font-size: .9rem; font-weight: bold;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px; }
#submit:hover,
#submit:active { background: #DD2503; }
/* == VARIANTS == */
.v-textcenter { text-align: center; }
/* == HELPER == */
.h-mt10 { margin-top: .625rem!important; }
.h-mb10 { margin-bottom: .625rem!important; }
.h-mt20 { margin-top: 1.25rem!important; }
.h-mt40 { margin-top: 2.5rem!important; }
.h-mb40 { margin-bottom: 2.5rem!important; }
.h-ml20 { margin-left: 1.25rem!important; }
.h-mr40 { margin-right: 2.5rem!important; }
.h-in-block { display: inline-block; }
.h-fl { float: left; }
.h-fr { float: right; }
.h-pf { position: fixed; width: 96%; }
.hidden { display: none !important; }
.h-mobileonly { display: none; }
.h-ani {
-webkit-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease; }
.clearfix:before,
.clearfix:after { content: ""; display: table;}
.clearfix:after { clear: both; }

/* == MEDIA QUERY == */
@media only screen and ( max-width: 64em ) {
	.nav a { padding: 0 .2rem; }
	.wrap-header { width: 735px; }
	.search-input { width: 250px;  }
	.post-list, .comment-list { width: 70%; }
}
@media only screen and ( max-width: 48em ) {
	.wrap-intro { width: 90%; padding-top: .8rem; }
	.intro-title { margin-bottom: 0; }
	.wrap-intro .search-input { width: 100%; padding: .8rem 0; text-align: center; }
	.wrap-intro .search-submit { width: 100%; margin-left: 0; margin-top: .5rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px; }
	.search .seach-input {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px; }
	.header { display: none; }
	.header.h-mobileonly { display: block; }
	.wrap-header { width: 100%; }
	.intro-tip { margin: 2rem 0; }
	.post-list,
	.comment-list { width: 90%; }
	.post-list { padding-top: 1rem; }
	.nav-open { float: left; background: none; border: 0; }
	.wrap-search-mobile { float: left; padding: 0; }
	.wrap-search-mobile .search-input { float: left; width: 100%; height: 38px; padding: 0 10px }
	.wrap-search-mobile .search-submit { position: absolute; top: .8rem; right: .5rem; height: 40px; margin-left: 0; font-weight: normal; }
	.wrap-mobile-nav { position: fixed; width: 100%; height: 100vh; top: 0; left: 0; padding: 2rem 0; background: #F8F8F8; z-index: 999; }
	.wrap-mobile-nav .logo { display: block; width: 194px; margin: 0 auto; }
	.wrap-mobile-nav li { display: block; padding: 1.5rem 0; text-align: center; }
	.wrap-mobile-nav li a { font-size: 1rem; }
	.wrap-mobile-nav .nav { padding-top: 0; }
	.nav-close { position: absolute; top: .2rem; right: .2rem; display: block; width: 40px; height: 40px; border: 0; background: url('../img/img-nav-close.svg') 0 0; text-indent: -9999px;}
	.wrap-single-post { padding-top: 4rem; }
	.wp-embedded-content { width: 100%; }
}
/*@media only screen and ( max-width: 33em ) {
	.wrap-search-mobile { width: 58% }
}
@media only screen and ( max-width: 20em ) {
	.wrap-search-mobile { width: 50% }
}*/

/* == PLUGINGS == */
[data-balloon]{position:relative}[data-balloon]:before,[data-balloon]:after{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;pointer-events:none;-webkit-transition:all .18s ease-out .18s;transition:all .18s ease-out .18s;bottom:100%;left:50%;position:absolute;z-index:10;-webkit-transform:translate(-50%,10px);-ms-transform:translate(-50%,10px);transform:translate(-50%,10px);-webkit-transform-origin:top;-ms-transform-origin:top;transform-origin:top}[data-balloon]:after{background:rgba(17,17,17,0.9);border-radius:4px;color:#fff;content:attr(data-balloon);font-size:12px;padding:.5em 1em;white-space:nowrap;margin-bottom:11px}[data-balloon]:before{background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17,17,17,0.9)" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;background-size:100% auto;height:6px;width:18px;content:"";margin-bottom:5px}[data-balloon]:hover:before,[data-balloon]:hover:after{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;pointer-events:auto;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon][data-balloon-break]:after{white-space:normal}[data-balloon-pos="down"]:before,[data-balloon-pos="down"]:after{bottom:auto;left:50%;top:100%;-webkit-transform:translate(-50%,-10px);-ms-transform:translate(-50%,-10px);transform:translate(-50%,-10px)}[data-balloon-pos="down"]:after{margin-top:11px}[data-balloon-pos="down"]:before{background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17,17,17,0.9)" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;background-size:100% auto;height:6px;width:18px;margin-top:5px;margin-bottom:0}[data-balloon-pos="down"]:hover:before,[data-balloon-pos="down"]:hover:after{-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}[data-balloon-pos="left"]:before,[data-balloon-pos="left"]:after{bottom:auto;left:auto;right:100%;top:50%;-webkit-transform:translate(10px,-50%);-ms-transform:translate(10px,-50%);transform:translate(10px,-50%)}[data-balloon-pos="left"]:after{margin-right:11px}[data-balloon-pos="left"]:before{background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17,17,17,0.9)" transform="rotate(-90 18 18)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;background-size:100% auto;height:18px;width:6px;margin-right:5px;margin-bottom:0}[data-balloon-pos="left"]:hover:before,[data-balloon-pos="left"]:hover:after{-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon-pos="right"]:before,[data-balloon-pos="right"]:after{bottom:auto;left:100%;top:50%;-webkit-transform:translate(-10px,-50%);-ms-transform:translate(-10px,-50%);transform:translate(-10px,-50%)}[data-balloon-pos="right"]:after{margin-left:11px}[data-balloon-pos="right"]:before{background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17,17,17,0.9)" transform="rotate(90 6 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;background-size:100% auto;height:18px;width:6px;margin-bottom:0;margin-left:5px}[data-balloon-pos="right"]:hover:before,[data-balloon-pos="right"]:hover:after{-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}[data-balloon-length]:after{white-space:normal}[data-balloon-length="small"]:after{width:80px}[data-balloon-length="medium"]:after{width:150px}[data-balloon-length="large"]:after{width:260px}[data-balloon-length="xlarge"]:after{width:90vw}@media screen and (min-width: 768px){[data-balloon-length="xlarge"]:after{width:380px}}[data-balloon-length="fit"]:after{width:100%}